
<div class="container mx-auto shadow-lg rounded-lg">
    <!-- headaer -->
<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
  <div class="font-semibold text-2xl">GoingChat</div>

  <div
    class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center"
  >
    RA
  </div>
</div>
<!-- end header -->
<!-- Chatting -->
<div class="flex flex-row justify-between bg-white">
  <!-- chat list -->
  <div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">
    <!-- search compt -->
    <div class="border-b-2 py-4 px-2">
      <input
        type="text"
        placeholder="search chatting"
        class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full"
      />
    </div>
    <!-- end search compt -->
    <!-- user list -->
    <div *ngFor="let room of participates" class="flex flex-row py-4 px-2 justify-center items-center border-b-2">
      <div class="w-1/4">
        <img src="https://source.unsplash.com/_7LbC5J-jw4/600x600" class="object-cover h-12 w-12 rounded-full"/>
      </div>
      <div class="w-full">
        <button (click)="getRoom(room.id)" class="text-lg font-semibold">{{ room.title }}</button>
        <!-- <span class="text-gray-500">Pick me at 9:00 Am</span> -->
      </div>
    </div>
    <!-- end user list -->
  </div>
  <!-- end chat list -->
  <div class="w-full px-5 flex flex-col justify-between">
    <div class="flex flex-col mt-5">
      <div *ngFor="let msg of messages">
        <div *ngIf="msg.participate.participateID.student.code===myId" class="flex justify-end mb-4">
          <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
            {{msg.content}}
          </div>
          <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full"/>
        </div>
        <div *ngIf="msg.participate.participateID.student.code!==myId" class="flex justify-start mb-4">
          <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" />
          <div class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
            {{msg.content}}
          </div>
        </div>
      </div>
    </div>
    
    <div class="flex justify-center items-center">
      <div class="py-5">
        <div class="relative">
          <input [(ngModel)]="content" type="text" class="w-96 border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10" placeholder="send message" />
          <button class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="ml-4">
        <button (click)="sendMessage()" class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
          <span>Send</span>
          <span class="ml-2">
            <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
            </svg>
          </span>
        </button>
      </div>
    </div>    
  </div>

  <!-- end message -->
  <div class="w-2/5 border-l-2 px-5">
    <div class="flex flex-col">
      <div class="font-semibold text-xl py-4">{{ currentRoom.title }}</div>
      <img
        src="https://source.unsplash.com/L2cxSuKWbpo/600x600"
        class="object-cover rounded-xl h-64"
        alt=""
      />
      <div class="font-semibold pt-4">Created in {{ currentRoom.dateCreation }}</div>
      <div class="font-semibold py-4">Created by {{ currentRoom.creator.lastName }}</div>
      <div class="font-light">
        {{ currentRoom.description }}
      </div>
      </div>
    </div>
  </div>
</div>

