<app-navbar-student></app-navbar-student>
        <div class="flex justify-center items-center h-screen">
            <table class="w-11/12 text-sm text-left rtl:text-right text-gray-700 dark:text-gray-400">
                <thead class="text-xs text-gray-800 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Start
                        </th>
                        <th scope="col" class="px-6 py-3">
                            End
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Success score
                        </th>
                        <th scope="col" class="px-6 py-3">
                            numberOfChances
                        </th>
                        <th scope="col" class="px-6 py-3">
                            remarks
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Trainer
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Pass
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let assig of assignements" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ assig.dateStart | date:"MMM dd, yyyy 'at' hh:mm a" }}
                        </th>
                        <td class="px-6 py-4">
                            {{ assig.dateEnd | date:"MMM dd, yyyy 'at' hh:mm a" }}
                        </td>
                        <td class="px-6 py-4">
                            {{assig.test.successScore}}
                        </td>
                        <td class="px-6 py-4">
                            {{assig.test.numberOfChances}}
                        </td>
                        <td class="px-6 py-4">
                            {{assig.test.remarks}}
                        </td>
                        <td class="px-6 py-4">
                            {{assig.test.trainer.firstName}}  {{assig.test.trainer.lastName}}
                        </td>
                        <td class="px-6 py-4" *ngIf="checkDate(assig)==true">
                            <button (click)="passTest(assig.test.id)" class="underline text-blue-500">pass</button>
                        </td>
                        <td class="px-6 py-4" *ngIf="checkDate(assig)==false">
                            Not available
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
