<app-navbar-student></app-navbar-student>

<div class="grid grid-cols-2 gap-4"> 
    <div *ngFor="let salle of participates">
        <div class="w-full max-w-md px-8 py-4 mt-16 bg-white rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex justify-between -mt-16">
                <span class="text-sm font-light text-gray-600 dark:text-gray-400">{{salle.dateCreation}}</span>
                <img class="object-cover w-20 h-20 border-2 border-blue-500 rounded-full dark:border-blue-400" alt="Testimonial avatar" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=76&q=80">
            </div>
            <h2 class="mt-2 text-xl font-semibold text-gray-800 dark:text-white md:mt-0">{{salle.title}}</h2>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-200">{{salle.description}}</p>
            <div class="flex justify-end mt-4">
                <button (click)="subscribe(salle.id)" class="text-lg font-medium text-blue-600 dark:text-blue-300" tabindex="0" role="link">Subscribe</button>
            </div>
        </div>
    </div>
</div>
