<app-admin-dashboard>
    
<div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Descripton
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Minimum point
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Maximum point
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let level of levels" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ level.description }}
                    </th>
                    <td class="px-6 py-4">
                        {{ level.pointMin }}
                    </td>
                    <td class="px-6 py-4">
                        {{ level.pointMin }}
                    </td>
                    <td class="px-6 py-4">
                        <button (click)="deleteLevel(level.id)" class="font-medium text-red-600 dark:text-blue-500 hover:underline"><i class="fas fa-trash mr-2"></i></button>
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fas fa-edit mr-2"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</app-admin-dashboard>