<div class="antialiased text-gray-700 bg-gray-100 pt-10">
    <div id="app" class="flex w-full h-screen justify-center items-center">
      <div class="w-full max-w-xl p-3">
        <h1 class="font-bold text-5xl text-center text-indigo-700">
          Simple Quiz
        </h1>
        <div class="bg-white p-12 rounded-lg shadow-lg w-full mt-8">
          <div class="flex justify-between align-middle">
            <p class="bg-green-400 w-max p-2 text-white text-center text-sm font-bold tracking-wide rounded-full mb-6">Time : {{restOftime}}</p>
            <p class="w-max p-2 text-red-400 text-center font-bold text-sm mb-6">Type : {{currentTemporidsation.question.type}} *</p>
          </div>
          <div>
            <p class="text-2xl font-bold mb-3">{{currentTemporidsation.question.questionText}}</p>
            <div class="grid grid-cols-2 gap-2">
              <div *ngFor="let val of validations" class="flex items-center justify-center">
                <button [id]="val.response.id" class="mt-4 text-center border border-gray-300 rounded-lg py-1 px-6 text-lg h-full w-60 flex items-center justify-center" (click)="selectResponse(currentTemporidsation.question.id,val.response.id)">
                  {{val.response.textResponse}}
                </button>
              </div>
            </div>
            <div class="mt-6 flow-root">
              <div class="float-left bg-indigo-600 text-white text-sm font-bold tracking-wide rounded-full px-5 py-2">Question : {{ index+1 +' / '+  this.temporisations.length}}</div>
              <button (click)="nextQuestion(currentTemporidsation.question.id)" *ngIf="!lastQuestion" class="float-right bg-indigo-600 text-white text-sm font-bold tracking-wide rounded-full px-5 py-2">
                Next &gt;
              </button>
              <button *ngIf="lastQuestion" class="float-right bg-indigo-600 text-white text-sm font-bold tracking-wide rounded-full px-5 py-2">
                Finish
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  